body{
    background-color: beige;
    font-family: sans-serif;
}
.df-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.score-heading {
    display: flex;
    align-items: center;
}
ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
    padding: 10px;
}
h3{
    font-family: sans-serif;
    font-weight: 600;
    font-size: x-large;
    margin-right: 20px;
}
li {
    font-family: sans-serif;
    font-weight: 400;
    font-size: larger;
    padding: 20px;
}
li:nth-child(even){
    background-color: #815137;
    padding: 10px;
}
li:nth-child(odd){
    background-color: wheat;
}
#form {
    background-color: wheat;
    border-radius: 7px;
    box-shadow: 0 0 3px #5e5e5e;
    padding: 40px;
    width: 20%;
}
  
input {
    background-color: wheat;
    border-width: 0 0 0;
    border-color: #282828;
    outline: 0;
    padding: 12px 10px;
}
  
input:focus {
    border-width: 0 0 1px;
    border-color: brown;
    width: 100%;
}
  
input::placeholder {
    color: black;
}